server:
  port: 8081
  servlet:
    context-path: /api/v1
  error:
    include-message: always
    include-binding-errors: always
    include-exception: false
    # 如果前端请求带参 ?trace=true 则会显示 trace 字段
    include-stacktrace: on_param
  forward-headers-strategy: framework

spring:
  application:
    name: biz-service
  profiles:
    active: @activatedProfile@
  threads:
    virtual:
      enabled: true
  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:8080/auth/realms/console-app/protocol/openid-connect/certs
  jpa:
    open-in-view: true
management:
  endpoints:
    access:
      default: unrestricted

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    doc-expansion: alpha
    oauth:
      client-id: console-cli

keycloak:
  realm: console-app
  client-id: console-cli
  auth-server-url: http://localhost:8080/auth
  admin:
    password: admin
    username: admin

app:
  datasource:
    keycloak:
      url: jdbc:postgresql://localhost:5432/keycloak
      jdbcUrl: jdbc:postgresql://localhost:5432/keycloak
      username: root
      password: example
      driver-class-name: org.postgresql.Driver